@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Server Details";
}

<a href="https://github.com/m-gagne/ServerInfoDemoApp-DotNet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<h1>Server Info</h1>

<style type="text/css">
    .vm {
        fill: rgb(@System.Configuration.ConfigurationManager.AppSettings["vmColour"]);
    }
</style>
<svg viewBox="0 0 60 50" width="200" height="100">
    <path class="vm" d="M 2.1835938,0 C 0.91922592,0 0,1.0341685 0,2.1835938 L 0,37.816406 C 0,39.080774 1.0341685,40 2.1835938,40 L 47.816406,40 C 49.080774,40 50,38.965832 50,37.816406 L 50,2.1835938 C 50,1.0341684 49.080774,0 47.816406,0 L 2.1835938,0 Z m 13.9082032,7.8164062 19.541015,0 c 0.689656,0 1.148438,0.5740167 1.148438,1.2636719 l 0,13.3339839 c 0,0.689656 -0.573725,1.148438 -1.148438,1.148438 l -6.896484,0 c -0.689655,2.643678 -0.345748,2.988281 4.251953,2.988281 l 0,1.150391 -5.402343,0 -3.908204,0 -5.05664,0 0,-1.150391 c 4.137931,0 4.826666,-0.344603 4.251953,-2.988281 l -6.78125,0 c -0.689655,0 -1.148438,-0.573725 -1.148438,-1.148438 l 0,-13.3339839 c 0,-0.6896552 0.573725,-1.2636719 1.148438,-1.2636719 z m 0.345703,1.609375 0,12.6425778 18.849609,0 0,-12.6425778 -18.849609,0 z m 9.654297,2.1835938 3.5625,2.068359 -3.5625,2.070313 -3.5625,-2.070313 3.5625,-2.068359 z m -3.792969,2.642578 3.5625,2.070313 0,4.136718 -3.5625,-2.068359 0,-4.138672 z m 7.701172,0 0,4.138672 -3.5625,2.068359 0,-4.136718 L 30,14.251953 Z"></path>
</svg>


<ul class="list-group">
    <li class="list-group-item"><strong>Server Machine Name:</strong> @(Server.MachineName)</li>
    <li class="list-group-item"><strong>Server IP:</strong> @(Request.ServerVariables["LOCAL_ADDR"])</li>
    <li class="list-group-item"><strong>User Host:</strong> @(Request.UserHostName)</li>
    <li class="list-group-item"><strong>User IP:</strong> @(Request.UserHostAddress)</li>
    <li class="list-group-item">
        <strong>Cookies:</strong>
        <ul>
            @foreach (var key in Request.Cookies.AllKeys)
            {
                <li>@( key ) : @( Request.Cookies[key] )</li>
            }
        </ul>
    </li>
</ul>